.main-bar
  .chat-main-group-info
    %ul.group-info-name
      %li.info-name< info-name 
      %li.info-menber< Menber : masa
    .group-info-edit-btn
      = link_to "#", class: "edit-btn" do
        Edit
  .chat-main__message-list
    massage
  .chat-main-message-form
    messageform