.main
  .main__group
    %ul.main__group__info
      %li.main__group__info__name< info-name 
      %li.main__group__info__menber< Menber : masa
    .main__group__edit
      = link_to "#", class: "main__group__edit__btn" do
        Edit 
  .main__list
    .main__list__name
      name 
      .main__list__name__day
        2019-01-01(wed) 17:43:01
    .main__list__message
      おはよう

    .main__list__name
      name 
      .main__list__name__day
        2019-01-01(wed) 17:43:01
    .main__list__message
      おはよう
    
    .main__list__name
      name 
      .main__list__name__day
        2019-01-01(wed) 17:43:01
    .main__list__message
      おはよう
      
  .main__form
    .main__form__list
      .main__form__list__message
        %input{type: "text", placeholder: "type a message"}
        
      .main__form__list__icon
        %label{class: "main__form__list__icon__image"}
          = icon('fas', 'image')
          %input{type: "file"}
    = link_to "#", class: "main__form__btn" do
      Send