.side-bar
  .side-bar-user-name
    .top-items-name
      name
    .top-items-icons
      = link_to "#", class: "top-items-icon" do
        = icon('fas', 'edit')
      = link_to "#2", class: "top-items-icon" do
        = icon('fas', 'cogs')      
  .side-bar-group-list
    .list-groups
      .group-list-name
        group-name1
      .group-list-message
        group-message1
    .list-groups
      .group-list-name
        group-name2
      .group-list-message
        group-message2
    .list-groups
      .group-list-name
        group-name3
      .group-list-message
        group-message3
  