.side-bar
  .side-header
    .name
      name
    .top-items-icons
      = link_to "#", class: "top-items-icon" do
        = icon('fas', 'edit')
      = link_to "#2", class: "top-items-icon" do
        = icon('fas', 'cogs')      
  .group-lists
    .group
      .group__name
        group-name1
      .group__message
        group-message1
    .group
      .group__name
        group-name2
      .group__message
        group-message2
    .group
      .group__name
        group-name3
      .group__message
        group-message3
    .group
      .group__name
        group-name4
      .group__message
        group-message4
    .group
      .group__name
        group-name5
      .group__message
        group-message5
    .group
      .group__name
        group-name6
      .group__message
        group-message6
    