.wrapper {
  display: flex;
}
.side-bar{
  height: 100vh;
  width: 300px;
  .side-bar-user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .top-items-name{
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
    }
    .top-items-icons{
      .top-items-icon{
        color: #ffffff;
        padding: 0 0 0 5px;
        text-decoration: none;
      }
    }
  }
  .side-bar-group-list {
    height:calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    .list-groups{
      padding: 20px 0 40px 0;
      color: #ffffff;
      .group-list-name{
        font-size: 15px;
        padding-bottom: 5px;
      }
      .group-list-message{
        font-size: 11px;
      }
    }
  }
}

.main-bar {
  height: 100vh;
  width: calc(100vw - 300px);
  .chat-main-group-info{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    .group-info-name{
      padding-top: 35px;
      color: #333333;
      .info-name{
        font-size: 20px;
        padding-bottom: 15px;
      }
      .info-menber{
        font-size: 12px;
      }
    }
    .group-info-edit-btn
    {
      font-size: 16px;
      color: #38aef0;
      border: 1px solid;
      margin: 28px 0 32px 0;
      padding: 6px 20px 0;
      .edit-btn{
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  .chat-main__message-list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
  }
  .chat-main-message-form {
    height: 90px;
    background-color: #d2d2d2;
  }
}