.wrapper {
  display: flex;
}
.side-bar{
  height: 100vh;
  width: 300px;
  .side-bar-user-name {
    height: 100px;
    background-color: #253141;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .top-items-name{
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
    }
    .top-items-icons{
      .top-items-icon{
        color: #ffffff;
        padding: 0 0 0 5px;
        text-decoration: none;
      }
    }
  }
  .side-bar-group-list {
    height:calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
    .list-groups{
      padding: 20px 0 40px 0;
      color: #ffffff;
      .group-list-name{
        font-size: 15px;
        padding-bottom: 5px;
      }
      .group-list-message{
        font-size: 11px;
      }
    }
  }
}

.main {
  height: 100vh;
  width: calc(100vw - 300px);
  &__group{
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    &__info{
      padding-top: 35px;
      color: #333333;
      &__name{
        font-size: 20px;
        padding-bottom: 15px;
      }
      &__menber{
        font-size: 12px;
      }
    }
    &__edit{
      &__btn{
        display: block;
        margin-top: 28px;
        padding: 0 20px;
        border: 1px solid;
        height: 40px;
        font-size:20px;
        color:#38aef0;
        text-decoration: none;
        line-height: 40px;
      }
    }
  }
  &__list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    &__name{
      padding: 35px 0 12px 40px;;
      display: flex;
      font-size: 16px;
      color: #333333;
      &__day{
        font-size: 12px;
        padding-left: 5px;
        color: #999999;
      }
    }
    &__message{
      padding: 0 0 46px 40px;
      font-size: 14px;
      color: #434a54;
    }
  }
  &__form {
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__list{
      background-color: white;
      height: 50px;
      width: calc(100% - 105px);
      margin-left: 50px;
      display: flex;
      position: relative;
      &__message{
        position: absolute;
        line-height: 50px;
        padding-left: 10px;
      }
      &__icon{
        position: absolute ;
        line-height: 50px;
        right: 0;
        margin: 0 0 0 auto;
        padding-right: 10px;

        &__image{
          cursor: pointer;
          display: inline-block;
          input{
            display: none;
          }
        }
      }
    }
    &__btn{
      margin:0 40px 0 15px;
      display: block;
      padding: 0 20px;
      border: 1px solid #38aef0;
      height: 50px;
      color:white;
      background-color: #38aef0;
      text-decoration: none;
      line-height: 50px;
    }
  }
}